PowerShellDataAccess/DataBaseAccessTest/DataBaseAccessTest/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56577/DataBaseAccess.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56577/DataBaseAccess.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56577/DataBaseAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataBaseAccess" />
      <xsd:import schemaLocation="http://localhost:56577/DataBaseAccess.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataBaseAccess_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IDataBaseAccess_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataBaseAccess_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IDataBaseAccess_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IDataBaseAccess_CreateRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRecord" />
  </wsdl:message>
  <wsdl:message name="IDataBaseAccess_CreateRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IDataBaseAccess_ReadObject_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadObject" />
  </wsdl:message>
  <wsdl:message name="IDataBaseAccess_ReadObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IDataBaseAccess_UpdateRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecord" />
  </wsdl:message>
  <wsdl:message name="IDataBaseAccess_UpdateRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IDataBaseAccess_DeleteRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecord" />
  </wsdl:message>
  <wsdl:message name="IDataBaseAccess_DeleteRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataBaseAccess">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBaseAccess/GetData" message="tns:IDataBaseAccess_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBaseAccess/GetDataResponse" message="tns:IDataBaseAccess_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBaseAccess/GetDataUsingDataContract" message="tns:IDataBaseAccess_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBaseAccess/GetDataUsingDataContractResponse" message="tns:IDataBaseAccess_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBaseAccess/CreateRecord" message="tns:IDataBaseAccess_CreateRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBaseAccess/CreateRecordResponse" message="tns:IDataBaseAccess_CreateRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBaseAccess/ReadObject" message="tns:IDataBaseAccess_ReadObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBaseAccess/ReadObjectResponse" message="tns:IDataBaseAccess_ReadObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBaseAccess/UpdateRecord" message="tns:IDataBaseAccess_UpdateRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBaseAccess/UpdateRecordResponse" message="tns:IDataBaseAccess_UpdateRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataBaseAccess/DeleteRecord" message="tns:IDataBaseAccess_DeleteRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataBaseAccess/DeleteRecordResponse" message="tns:IDataBaseAccess_DeleteRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataBaseAccess" type="tns:IDataBaseAccess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IDataBaseAccess/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IDataBaseAccess/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRecord">
      <soap:operation soapAction="http://tempuri.org/IDataBaseAccess/CreateRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadObject">
      <soap:operation soapAction="http://tempuri.org/IDataBaseAccess/ReadObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecord">
      <soap:operation soapAction="http://tempuri.org/IDataBaseAccess/UpdateRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecord">
      <soap:operation soapAction="http://tempuri.org/IDataBaseAccess/DeleteRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IDataBaseAccess" binding="tns:BasicHttpBinding_IDataBaseAccess">
      <soap:address location="http://localhost:56577/DataBaseAccess.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>